
/* Heading Tags */
h1 {  
font-family: 'Montserrat';  
font-size: 4rem;  
line-height: 1.5;  
font-weight: 900;
color:white;
}

h3{
    font-family: 'Montserrat';
    font-size: 1.5 rem;
    font-weight:bold;
}

h2{
    font-weight: bold;
}

/* container */
.container-fluid{
    padding: 1% 7% 5%;
}
/* Buttons */
#button{
    font-family: 'Montserrat';
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}
.btn-block {
    display: block;
    width: 100%;
}

.fa-4x{
    color:#ef8172;
    margin-bottom: 1%;
}
.fa-4x:hover{
    color:#ff4c68;
}

p{
    color:#8f8f8f;
}


/* Title */
#title{
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.title-sub-img{
    width:25%;
    transform:rotate(25deg);
    position:absolute;
    right:20%;
}

/* Media query for phones and tablets*/
@media (max-width: 1028px){
    .title-sub-img{
        position:static;
        transform:rotate(0);
        width:60%;
    }
    #title{
        text-align:center
    }
}

/* features section */
#features{
    padding: 7% 15%;
    background-color: white;
    position:relative;

    margin: auto;
    text-align:center;
}


/* testimonial section  */
#testimonials{
    text-align:center;
    background-color:#ff4c68;
    
    color:white;
}
.testimonial-img{
    width:15%;
    border-radius: 100%;
    margin: 20px;
    margin-top: 5%;
}


/* press section */
#press{
    text-align: center;
    background-color:#ff4c68;
    padding-bottom: 3%;
}
.press-img{
    width:10%;
    margin:20px;
}


.carousel-item{
    padding: 5% 5%;
}

/* Pricing section */
#pricing{
    padding:90px;
    text-align: center;
}
.pricing-col{
    padding:3% 2%;
}

/* Call to Action Section */
#cta{
    background-color: #ff4c68;
    text-align:center;
    padding: 5% 3% 5%;
}
.cta-title{
    font-family: 'Montserrat';
    color:white;
    padding-bottom: 5%;
    font-size: 4rem;  
}
.cta-btn{
    margin-right:5%;
}

/* Footer Section */
#footer{
    background-color: white;
    text-align:center;
    padding: 2% 3% 2%;
}
.footer-p{
    font-size:small;
}
.social-icon{
    margin:20px 10px;
}