/* Heading Tags */

body{
    font-family:'Montserrat' ;
    text-align:center;
}
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat';
    font-weight: bold;
}

/* container */
.container-fluid{
    padding: 7% 15%;
}

/* Buttons */
#button{
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}
.btn-block {
    display: block;
    width: 100%;
}

p{
    color:#8f8f8f;
}


/* Title */
.title-heading{
    font-size: 4rem;  
    line-height: 1.5;  
    font-weight: 900;
    color:white;
}

#title{
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.title-sub-img{
    width:25%;
    transform:rotate(25deg);
    position:absolute;
    right:20%;
}
.title-navbar{
    padding: 1% 5% 2%;
    text-align:left;
}
.title-button{
    margin-right:5%;
    text-align:center;
}

/* Media query for phones and tablets*/
@media (max-width: 1028px){
    .title-sub-img{
        position:static;
        transform:rotate(0);
        width:60%;
    }
    #title{
        text-align:center
    }
}

/* features section */
#features{
    background-color: white;
    position:relative;

    margin: auto;
}
.features-heading{
    font-size: 1.5 rem;
}
.features-p{
    margin-bottom: 5%;
}
.features-container{
    padding-right:3%;
}
/* icons static and hover state */
.fa-4x{
    color:#ef8172;
    margin-bottom: 2%;
}
.fa-4x:hover{
    color:#ff4c68;
}


/* testimonial section  */
#testimonials{
    background-color:#ff4c68;
    color:white;
}
.testimonial-img{
    width:15%;
    border-radius: 100%;
    margin: 20px;
    margin-top: 5%;
}
.testimonial-heading{
    font-size: 2.4rem; 
}


/* press section */
#press{
    background-color:#ff4c68;
    padding-bottom: 3%;
}
.press-img{
    width:10%;
    margin:20px;
}

/* Pricing section */
#pricing{
    padding:90px;
}
.pricing-col{
    padding:3% 2%;
}
.pricing-heading{
    font-size: 2.5rem;
}

.pricing-heading-subtitle, .pricing-heading-price{
    font-size: 1.5rem;
}

/* Call to Action Section */
#cta{
    background-color: #ff4c68;
    padding: 5% 3% 5%;
}
.cta-title{
    color:white;
    padding-bottom: 5%;
    font-size: 2.5rem;  
}
.cta-btn{
    margin-right:5%;
}

/* Footer Section */
#footer{
    background-color: white;
    padding: 2% 3% 2%;
}
.footer-p{
    font-size:small;
}
.social-icon{
    margin:20px 10px;
}